# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Exclude jupyter-notebooks from linguist statistics
*.ipynb linguist-vendored=true
# Exclude wolfram-notebooks from linguist statistics
*.nb linguist-vendored=true
